* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 500;
}
html,
body {
  @media (max-width:1024px) {
    width: 100%;
    // height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  @media (min-width:1024px) {
    max-width: 1366px;    
  }
  margin: auto;
  // width: 100%;
  // height: 100%;
  // margin: 0px;
  // padding: 0px;
  // overflow-x: hidden; 
}