.form-header {
  @media (min-width: 1024px) {
    padding-bottom: 60px;
  }
    @media (max-width: 600px) {
      padding-bottom: 30px;
      font-size: 24px;
    }
    font-family: $oswald;
    font-weight: 500;
    font-size: 30px;
    color: $dark-blue;
    text-align: center;
    padding-bottom: 50px;
}

form {
  @media (min-width: 1024px) {
    padding-top: 140px;
    margin-bottom: 150px;
  }
    @media (max-width: 600px) {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 120px;
      margin-bottom: 100px;
    }
    padding-top: 148px;
    max-width: 612px;
    margin-bottom: 150px;
}

.input-container {
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(4, auto);
      row-gap: 10px;
      column-gap: 0;
    }
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 20px;
    row-gap: 15px;
}

.name-article,
.email-article,
.phone-article,
.comment-article {
  @media (max-width: 600px) {
    font-size: 14px;
    padding: 10px;
    padding-bottom: 7px;
  }
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    outline: none;
}

@media (max-width: 600px) {
  .name-article,
  .email-article,
  .phone-article,
  .comment-article {
    grid-column: 1 / 3;

  }

}

.comment-article {
  @media (max-width: 600px) {
    padding-bottom: 125px;
  }
    grid-column: 1 / 3;
    padding-bottom: 200px;
}

.phone-article {
    grid-column: 1 / 3;
}


form > p {
  @media (min-width: 1024px) {
    color: $dark-blue;
    padding-top: 15px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
    padding-top: 10px;
  }
    font-size: 14px;
    color: $dark-blue;
    padding-top: 10px;
}

.input-container > input {
    background-color: #C4C4C466;
    border: none;
    border-radius: 6px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder { 
    color: $dark-blue;
    opacity: 1;
}

.container {
  @media (min-width: 1024px) {
    padding-top: 33px;
    transform: translateX(-5px);
    line-height: 17px;
  }
  @media (max-width: 600px) {
    transform: translateX(-9px);
    font-size: 12px;
    padding-top: 10px;
    max-width: 90%;
    padding-left: 46px;
  }
  
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    font-size: 14px;
    color: $dark-blue;
    padding-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


.container > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    transform: translate(7px, 2px);
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #E7E7E7;
    border-radius: 3px;
  }

.container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  

  .container > input:checked ~ .checkmark {
    background-color: $orange;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container > input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container > input {
    @media (max-width: 600px) {
      margin-top: 35px;
      transform: scale(0.75);
    }
    width: 182px;
    height: 62px;
    font-size: 24px;
    border-radius: 40px;
    border: none;
    margin-top: 45px;
    background-color: $orange;
    color: $white;

    &:hover {
      cursor: pointer;
      background-color: $yellow;
    }

    &:active {
      cursor: pointer;
      background-color: $dark-orange;
    }
}

