
.piesaki-sapni-header > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piesaki-sapni-header > article > h1{
    @media (max-width: 1024px) { 
        padding-top: 70px;
    }
    @media (max-width: 600px) {
        font-size: 36px;
        padding-top: 35px;
    }
    font-family: $oswald;
    color: $dark-blue;
    padding-top: 85px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.piesaki-sapni-header > article > p {
    @media (max-width: 1024px) { 
        padding-top: 50px;
        max-width: 80%;
    }
    @media (max-width: 600px) {
        font-size: 14px;
        padding-top: 30px;
    }
    padding-top: 60px;
    font-size: 24px;
    font-weight: 500;
    color: $dark-blue;
    text-align: center;
    max-width: 75%;
}

.sapnis-choise-container {
    @media (min-width: 1024px) {
        justify-content: space-evenly;
        flex-direction: row;
        align-items:unset;
        padding-top: 92px;
    }
    @media (max-width: 600px) {
        padding-top: 80px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.sapnis-choise-container > div {
    @media (min-width: 1024px) {
        justify-content: space-around;
        max-width: 394px;
    }
    @media (max-width: 600px) {
        max-width: 85%;
    }
    max-width: 80%;
    text-align: center;
}

.sapnis-choise-l-side,
.sapnis-choise-r-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sapnis-choise-r-side {
    @media (min-width: 1024px) {
        padding-top: 0;
        padding-left: 75px;
    }
    @media (max-width: 600px) {
        padding-top: 70px;
    }

    padding-top: 150px;
}

.sapnis-choise-r-side > img {
    padding-left: 40px;
}

.sapnis-choise-l-side > h2,
.sapnis-choise-r-side > h2 {
    @media (min-width: 1024px) {
        padding-top: 53px;
    }
    @media (max-width: 600px) {
        font-size: 18px;
        padding-top: 30px;
    }
    font-family: $oswald;
    font-size: 30px;
    color: $dark-blue;
    font-weight: 500;
    padding-top: 50px;
}

.sapnis-choise-l-side > p,
.sapnis-choise-r-side > p {
    @media (min-width: 1024px) {
        padding-top: 20px;
        flex-grow: 1;
    }
    @media (max-width: 600px) {
        font-size: 12px;
        padding-top: 15px;
    }
    font-size: 18px;
    color: $dark-blue;
    font-weight: 400;
    padding-top: 30px;
}


.sapnis-choise-l-side > button,
.sapnis-choise-r-side > button {
    margin-top: 50px;
    width: 233px;
    height: 50px;
    border: none;
    color: $white;
    background-color: $orange;
    border-radius: 40px;
    font-size: 18px;

    &:hover{
        background-color: $yellow;
        cursor: pointer;
    }

    &:active {
        background-color: $dark-orange;
        cursor: pointer;
    }
}

.ps-collage-container {
    @media (min-width: 1024px) {
        margin-top: 150px;
    }
    @media (max-width: 600px) {
        margin-top: 120px;
    }
    position: relative;
    margin-top: 160px;
}

.ps-header-collage {
    @media (max-width: 600px) {
        grid-template-columns: repeat(2, auto);
    }
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}

.ps-header-collage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.psCollage1,
.psCollage4,
.psCollage5 {
    grid-row: 1 / 3;
}

.psCollage2 {
    grid-row: 1 / 2;
}

@media (max-width: 600px) {
    .psCollage4 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .psCollage5 {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .psCollage1 {
        grid-row: 2 / 4;
        grid-column: 1 / 3;
    }

    .psCollage2 {
        grid-row: 2 / 3;
    }
    .psCollage3 {
        grid-row: 3 / 4;
    } 
}

.ps-collage-top-ripped,
.ps-collage-bot-ripped {
    position: absolute;
}

.ps-collage-top-ripped {
    @media (min-width: 1024px) {
        top: 0;
    }

    @media (max-width: 600px) {
        top: -5%;
    }
    top: -10%;
}

.ps-collage-bot-ripped {
    @media (min-width: 1024px) {

        bottom: -5.5%;
    }

    @media (max-width: 600px) {
        bottom: -5%;
    }

    bottom: -10.5%;
}





.form-section {
    @media (min-width: 1024px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @media (max-width: 600px) {
        margin-top: -50px;
        margin-bottom: 55px;
    }
    margin-top: -20px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}